target/classes/JavaRecommendation/App.class
target/classes/JavaRecommendation/controller/Pearson.class
target/classes/JavaRecommendation/data/MovieRepo.class
target/classes/JavaRecommendation/data/UserRepo.class
target/classes/JavaRecommendation/interfaces/SimilarityMetric.class
target/classes/JavaRecommendation/interfaces/User.class
target/classes/JavaRecommendation/model/Movie.class
target/classes/JavaRecommendation/model/MyUser.class
target/classes/JavaRecommendation/model/Rating.class
target/classes/JavaRecommendation/test/testMovieRepo.class
target/classes/JavaRecommendation/test/testPearson.class
target/classes/JavaRecommendation/test/testUserRepo.class
target/test-classes/JavaRecommendation/AppTest.class
src/main/java/JavaRecommendation/test/*
target/classes/JavaRecommendation/controller/PearsonParallelStrem.class
